main {
	width: 500px;
	height: 400px;
	margin: auto;
	margin-top: 150px;
	background-color: #218592;
	display: flex;
	padding: 5px;
    font-size: 20px;
	justify-self: space-between;
	font-family: verdana, arial, cursive;
}

.quadrado { 
     width: 150px;
     height: 150px;
     background-color: #AB47BC;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .circ {
      width: 150px;
      height: 150px;
      background-color: #FFB300;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 150px;
      margin-left: 150px;
    
 }